#gameboard 
{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.gameboard 
{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square 
{
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg 
{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path 
{
    position: relative;
    z-index: -10;
}

.piece 
{
    position: relative;
    z-index: 9;
}

.light 
{
    background-color: rgb(110, 110, 98);
}

.dark 
{
    background-color: brown;
}

.black-piece 
{
    fill: black;
}

.white-piece 
{
    fill: rgb(236, 210, 210);
}

